In [1]:
%load_ext autoreload   
%autoreload 2

from src import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
settings = Settings()

In [3]:
dataset = DaigtDataset(settings)
dataset.load()

In [4]:
dataset.clean()

In [5]:
print(f"Text removed while cleaning: {DaigtMetadataAnalysis.get_percentage_of_removed_text(dataset)}%.")

Text removed while cleaning: 0.012379704917830402%.

In [6]:
preprocessing_results = DaigtPreprocessing(settings).preprocess(dataset)
preprocessing_results.info()

,collection,num_of_syllabes,num_of_complex_words,num_of_sentences,num_of_words,num_of_splits
0,human,16534054,1132449,571895,11498133,12626085
1,mistral,10679300,1303559,285237,6069118,6776800
2,llama,8925648,901248,295540,5576315,6250480
3,gpt,2102310,245189,61041,1220047,1368602
4,claude,1130777,140499,34997,621079,686557
5,falcon,3025621,377694,84050,1708179,1909399
6,palm,1081158,109939,42875,678377,771497
7,cohere,182736,19642,5791,112957,125297
8,ada,236731,21785,8902,154673,170596
9,babbage,212813,20728,7751,136981,150379
10,curie,245991,24193,9696,157883,175347
11,davinci,881346,88326,32198,559496,621339