In [1]:
%load_ext autoreload   
%autoreload 2

from src import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
settings = Settings()

In [3]:
dataset = DaigtDataset(settings)
dataset.load()

In [4]:
dataset.clean()

In [5]:
print(f"Text removed while cleaning: {DaigtMetadataAnalysis.get_percentage_of_removed_text(dataset)}%.")

Text removed while cleaning: 0.012379704917830402%.

In [6]:
preprocessing_results = DaigtPreprocessing(settings).preprocess(dataset)
preprocessing_results.info()

,collection,num_of_syllabes,num_of_complex_words,num_of_sentences,num_of_words,num_of_splits
0,human,13541,982,501,9360,10326
1,mistral,15878,1904,427,9150,10268
2,llama,14343,1370,510,9136,10217
3,gpt,15901,1858,453,9172,10260
4,claude,16900,2154,512,9196,10119
5,falcon,16472,2113,429,9226,10266
6,palm,14543,1536,527,8989,10184
7,cohere,14837,1565,464,9221,10242
8,ada,13995,1190,573,9290,10275
9,babbage,14469,1430,547,9387,10269
10,curie,14364,1437,581,9203,10221
11,davinci,14555,1452,521,9234,10223

In [8]:
metrics_analysis_results = DaigtMetricsAnalysis().analyze(preprocessing_results)